:root {
    --border-bg: #152642;
    --main-bg: #506680;
    --hover: #2F4562;
    --bars: #152642;
    --slider-bg: rgb(168, 168, 168);
    --slider: white;
    --text-active: white;
    --text-primary: white;
    --text-darker: rgb(153, 153, 153);
    --text-bar: white;
}