.container {
    height: 85%;
    width: 100%;
    display: flex;
}

.right_bar, .left_bar {
    background-color: black;
    width: 40px;
    height: 100%;
}

.middle_bar {
    width: 80%;
    height: 100%;
    flex-grow: 1;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.bar {
    width: 5px;
    background-color: rgb(224, 111, 5);
    transition: .2s;
}