.container {
    position: absolute;
    bottom: 2rem;
    left: 0;
    color: black;
    width: 100%;
    height: 15%;
    background-color: var(--text-primary);
    
}

.icon_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

.icon {
    font-size: 2rem;
}

.description_wrapper {
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--border-bg);
    color: var(--text-primary);
    border: 2px solid var(--text-primary);
    box-sizing: border-box;
    transition: .5s ease-in-out;
    visibility: hidden;
    overflow: hidden;
}

.description {
    margin: 1rem;
    font-size: 1.2rem;
}

.rotateAnimation {
    transform: rotate(-180deg);
}

.slideLeft {
    width: 1000px;
    visibility: visible;
}